{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--custom stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    
    <!--Bootstrap JS-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>

    <title>{% block page_title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item active"><a href="{% url 'logout' %}">Logout</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'profile'%}">Profile</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            <hr>
            <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <h3>{% block page_heading %}{% endblock %}</h3>

    {% if messages %}
    <div>
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %} {% block content %}{% endblock %}
</body>

</html>
